.skills {
  margin-bottom: 80px;
  /* background-color: #262626; */
}
.skills__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 150px; */
  padding: 0 20px;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 80px;
}

.skills__inner ul + ul {
  margin-left: 80px;
}

@media screen and (max-width: 1024px) {
  .skills__inner {
    gap: 30px;
  }

  .skills__inner li img {
    width: 80px;
  }
}
