.skills {
  margin-bottom: 80px;
  background-color: #262626;
}
.skills__inner {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 150px;
  padding: 0 20px;
}

.skills__inner ul {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 80px;
}

.skills__inner ul + ul {
  margin-left: 80px;
}
